.login__submit {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 199px;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    color: #000;
    background-color:#fff;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: opacity 0.3s;
  }
  
  .login__submit:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 600px) {
    .login__submit{
      margin-top: 156px;
      width: 260px;
      height: 46px;
      font-size: 16px;
      line-height: 19px;
    }
  }