.info__container {
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 600px) {
  .info__container{
    width: 282px;
  }
}