.profile__title {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .profile__title{
    text-align: center;
    justify-content: center;
    margin-left: 42px;
  }
}

@media screen and (max-width: 600px) {
  .profile__title{
    font-size: 27px;
    line-height: 33px;
    margin-left: 28px;
  }
}